body {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.container {
    background-color: #eee;
    padding: 12px 18px;
}

p {
    font-size: 0.6em;
    line-height: 1em;
    letter-spacing: -0.05em;
}
  
@media screen and (max-width: 800px) and (min-width: 400px) {
    p {
      font-size: 0.8em;
      line-height: 1.2em;
      letter-spacing: 0;
    }
}
  
@media screen and (min-width: 800px) {
    p {
      font: 1em 'Verdana', 'Arial', sans-serif;
      line-height: 1.5em;
      letter-spacing: 
      0.05em;
    }
}